.panda-bg-info{
    background-color: #fceae8;
}
.all-button{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    border: none;
    border-radius: 10px;
    padding: 9px 25px;
}
footer{
    margin-top: 90px;
    margin-bottom: 0;
}
.catagories img{
    width: 100px;
    height: 100px;
}
.card{
    box-shadow: 5px 5px 10px lightgrey;
    border: none;
    border-radius: 10px;
}
.my-margin{
    margin-top: 100px !important;
    /* background-color: chartreuse; */
}
body{
    overflow-x: hidden;
}